//graphic-design-text
$primary: #25564b;
//photography-text
$secondary: #19536b;
//footer
$success: #458c7e;

$info: #a9a9ab;

//border-red
// $danger: #fe7867;

//border-yellow
// $warning: #fad400;

$warning: #90d4c5