.graphic-design-bg {
    height: 800px;
    background-image: url('~src/assets/images/desktop/image-graphic-design.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @media(max-width:768px) {
        height: 750px;
        background-image: url('~src/assets/images/mobile/image-graphic-design.jpg');
    }
}

.card-text {
    width: 50%;

    @media(max-width:768px) {
        width: 100%;
    }
}

.photography-bg {
    height: 800px;
    background-image: url('~src/assets/images/desktop/image-photography.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @media(max-width:768px) {
        height: 750px;
        background-image: url('~src/assets/images/mobile/image-photography.jpg');
    }
}

.profile-img {
    width: 60px;
    border-radius: 50%;
}