<section class="overflow-y-auto h-100">
  <div class="img-bg">
    <header class="d-flex justify-content-between align-items-center p-4 pb-5">
      <span class="icon-logo text-white fs-3"></span>

      <nav class="d-none d-md-block">
        <ul class="d-flex align-items-center text-white ps-0 mb-0">
          <li class="pe-5">
            <a>About</a>
          </li>
          <li class="pe-5">
            <a>Services</a>
          </li>
          <li class="pe-5">
            <a>Project</a>
          </li>
          <li>
            <button class="contact-btn rounded-5">CONTACT</button>
          </li>
        </ul>
      </nav>

      <label for="menu" class="d-md-none">
        <span class="icon-hamburger text-white"></span>
      </label>
    </header>

    <div class="d-md-none position-absolute w-100">
      <input type="checkbox" id="menu" class="d-none">
      <aside class="sidebar p-4">
        <nav class="nav d-flex justify-content-center bg-white p-4">
          <ul class="text-center ps-0 mb-0">
            <li class="nav-item">
              <a class="nav-link text-muted fs-4">
                <span>About</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-muted fs-4">
                <span>Services</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-muted fs-4">
                <span>Project</span>
              </a>
            </li>
            <li class="nav-item pt-4">
              <button class="button rounded-5">CONTACT</button>
            </li>
          </ul>
        </nav>
      </aside>
    </div>

    <div class="text-center">
      <h1 class="header-title text-white text-center mt-md-5 pt-5 pb-3">WE ARE CREATIVES</h1>
      <img src="assets/images/icon-arrow-down.svg" alt="arrow-down" class="mt-md-5 pt-3 pt-md-5">
    </div>
  </div>

  <div class="d-flex flex-column-reverse flex-md-row">
    <div class="col-12 col-md-6 d-flex flex-column justify-content-center p-md-5">
      <div class="text-center text-md-start px-lg-5 py-3 py-md-0 m-5 m-md-0 m-xl-5">
        <h1 class="title">Transform your brand</h1>
        <h5 class="text-muted pb-5">We are a full-service creative agency specializing in helping brands grow fast.
          Engage your clients through compelling visuals that do most of the marketing for you.</h5>
        <span class="title title-learn-1 px-3">LEARN MORE</span>
      </div>
    </div>
    <div class="col-12 col-md-6 ps-0">
      <img src="assets/images/desktop/image-transform.jpg" alt="transform" class="w-100">
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-6 pe-0">
      <img src="assets/images/desktop/image-stand-out.jpg" alt="stand-out" class="w-100">
    </div>
    <div class="col-12 col-md-6 d-flex flex-column justify-content-center p-md-5">
      <div class="text-center text-md-start px-lg-5 py-3 py-md-0 m-5 m-md-0 m-xl-5">
        <h1 class="title">Stand out to the right audience</h1>
        <h5 class="text-muted pb-5">Using a collaborative formula of designers, researchers, photographers,
          videographers,
          and
          copywriters, we'll
          build and extend your brand in digital places. </h5>
        <span class="title title-learn-2 px-3">LEARN MORE</span>
      </div>
    </div>
  </div>

  <div class="row">
    <div
      class="col-12 col-md-6 graphic-design-bg text-primary d-flex flex-column align-items-center justify-content-end py-5">
      <h2 class="title pb-4">Graphic Design</h2>
      <h5 class="card-text text-center px-3 px-md-0 pb-4"> Great design makes you memorable. We deliver artwork that
        underscores your
        brand
        message
        and captures
        potential clients' attention.</h5>
    </div>
    <div
      class="col-12 col-md-6 photography-bg text-secondary d-flex flex-column align-items-center justify-content-end py-5">
      <h2 class="title pb-4">Photography</h2>
      <h5 class="card-text text-center px-3 px-md-0 pb-4"> Increase your credibility by getting the most stunning,
        high-quality
        photos
        that
        improve your business image.</h5>
    </div>
  </div>

  <div class="text-center p-4 my-5 p-md-5 m-lg-5">
    <div class="p-md-5 m-lg-5">
      <h3 class="text-info header-title">CLIENT TESTIMONIALS</h3>
      <div class="row pt-5 mt-5">
        <div class="col-12 col-md-4">
          <div class="card border-0">
            <div class="card-body p-0">
              <img src="assets/images/image-emily.jpg" alt="emily" class="profile-img">
              <h5 class="text-muted pt-4 pt-md-5"> We put our trust in Sunnyside and they delivered, making
                sure our
                needs
                were met and
                deadlines were always hit.</h5>
              <h5 class="card-title title pt-4 pt-md-5">Emily R.</h5>
              <p class="text-info">Marketing Director</p>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-4 pt-5 pt-md-0">
          <div class="card border-0">
            <div class="card-body p-0">
              <img src="assets/images/image-thomas.jpg" alt="thomas" class="profile-img ">
              <h5 class="text-muted pt-4 pt-md-5">Sunnyside's enthusiasm coupled with their keen interest in
                our
                brand's
                success made it
                a satisfying and enjoyable experience.</h5>
              <h5 class="card-title title pt-4 pt-md-5">Thomas S.</h5>
              <p class="text-info"> Chief Operating Officer</p>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-4 pt-5 pt-md-0">
          <div class="card border-0">
            <div class="card-body p-0">
              <img src="assets/images/image-jennie.jpg" alt="jennie" class="profile-img ">
              <h5 class="text-muted pt-4 pt-md-5"> Incredible end result! Our sales increased over 400% when
                we worked
                with
                Sunnyside.
                Highly recommended!</h5>
              <h5 class="card-title title pt-4 pt-md-5"> Jennie F.</h5>
              <p class="text-info">Business Owner</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-6 col-md-3 px-0">
      <img src="assets/images/mobile/image-gallery-milkbottles.jpg" alt="milkbottle" class="img-fluid d-md-none">
      <img src="assets/images/desktop/image-gallery-milkbottles.jpg" alt="milkbottle"
        class="img-fluid d-none d-md-block">
    </div>
    <div class="col-6 col-md-3 px-0">
      <img src="assets/images/mobile/image-gallery-orange.jpg" alt="orange" class="img-fluid d-md-none">
      <img src="assets/images/desktop/image-gallery-orange.jpg" alt="orange" class="img-fluid d-none d-md-block">
    </div>
    <div class="col-6 col-md-3 px-0">
      <img src="assets/images/mobile/image-gallery-cone.jpg" alt="cone" class="img-fluid d-md-none">
      <img src="assets/images/desktop/image-gallery-cone.jpg" alt="cone" class="img-fluid d-none d-md-block">
    </div>
    <div class="col-6 col-md-3 px-0">
      <img src="assets/images/mobile/image-gallery-sugar-cubes.jpg" alt="sugarcubes" class="img-fluid d-md-none">
      <img src="assets/images/desktop/image-gallery-sugarcubes.jpg" alt="sugarcubes"
        class="img-fluid d-none d-md-block">
    </div>
  </div>

  <div class="bg-warning text-center py-5">
    <div class="my-5">
      <span class="icon-logo text-success fs-2"></span>
      <nav class="pt-5 pb-5">
        <ul class="d-flex justify-content-center ps-0 mb-0">
          <li class="nav-item text-success pe-5">
            <a class="nav-link">About</a>
          </li>
          <li class="nav-item text-success pe-5">
            <a class="nav-link">Services</a>
          </li>
          <li class="nav-item text-success">
            <a class="nav-link">Projects</a>
          </li>
        </ul>
      </nav>
      <div class="pt-5">
        <span class="icon icon-facebook fs-4 pe-4"></span>
        <span class="icon icon-instagram fs-4 pe-4"></span>
        <span class="icon icon-twitter fs-4 pe-4"></span>
        <span class="icon icon-pinterest fs-4"></span>
      </div>
    </div>
  </div>
</section>