.nav-item {
    .nav-link {
        &:hover {
            color: white;
            cursor: pointer;
        }
    }
}

.icon {
    color: $success;
    cursor: pointer;

    &:hover {
        color: white;
    }
}