.img-bg {
    height: 800px;
    background-image: url("~src/assets/images/desktop/image-header.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @media(max-width:768px) {
        height: 490px;
        background-image: url('~src/assets/images/mobile/image-header.jpg');
    }
}

.header-title {
    font-family: 'Fraunces', serif;
    letter-spacing: 10px;
}